body {
  font-family: Arial, sans-serif;
}
.container {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto auto;
  grid-gap: 2rem;
  height: 100vh;
  grid-template-areas:
      "header header"
      "main main"
      "video video"
      "footer footer"
}
header {
  grid-area: header;
  background-color: #03a3df;
  height: 12rem;
  flex-direction: column;
  padding-left: 2rem;
}
.navigation {
  text-align: right;
  padding-right: 5rem;
  letter-spacing: .25rem;
  color: #F8F8FF;
}
a {
  text-decoration: none;
  color: #F8F8FF;
}
main {
  grid-area: main;
  justify-content: flex-start;
}
.main {
  padding-left: 2rem;
  font-size: 1.5rem;
}
h3, h5 {
  color: #03a3df;
}
.title {
  padding-right: 2rem;
  background: grey;
  color: #ecb722;
  padding: .5rem;
}
video {
  grid-area: video;
  justify-content: flex-end;
}
.video h2 {
  color: #03a3df;
  font-weight: bold;
}
footer {
  grid-area: footer;
  text-align: center;
  border-top: 3px solid #ecb722;
}
.footer-image {
width: 100%;
height: 20rem;
}
.company-details {
  color: #ecb722;
  font-weight: bold;
}
a[href="https://www.google.com/maps/@47.7585324,-122.1160245,14z"] {
  color: #03a3df;
}
.policy {
  font-size: .8rem;
  text-align: left;
}

/* styles for courses page */
