.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  height: 100vh;
  grid-template-areas:
      "header header"
      "i-container i-container"
      "footer footer"
}
header {
  grid-area: header;
  background-color: #03a3df;
  height: 12rem;
  padding-left: 2rem;
}
.navigation {
  text-align: right;
  padding-right: 5rem;
  letter-spacing: .25rem;
  color: #F8F8FF;
}
a {
  text-decoration: none;
  color: white;
}
.i-container {
  display: grid;
  align-content: flex-start;
  grid-area: i-container;
  grid-areas:
  "photo bio photo bio photo bio"
}
.i-container {
  display: grid;
  align-content: flex-start;
  grid-area: i-container;
  grid-areas:
  "photo bio"
}
.title {
  color: #03a3df;
  text-align: center;
  letter-spacing: .25em;
  height: 8rem;
}
.instructors {
  display: flex;
  flex-direction: row;
  grid-column-gap: 3rem;
}
photo {
  display-area: photo;
}
.photo {
padding-left: 2rem;
}
bio {
display-area: bio;
}
.bio h1, h2, h4 {
  color: #03a3df;
}
.bio h6 {
  color: #ecb722;
  border-bottom: 1px solid #ecb722;
}
footer {
  grid-area: footer;
  border-top: 3px solid #ecb722;
}
.footer-grid {
  display: grid;
  grid-template-rows: 3rem;
}
.footer-image {
 width: 100%;
}
.company-details {
  padding-left: 2rem;
}
.company-details h3 {
  color: white;
  text-align: center;
}
a[href="https://www.google.com/maps/@47.7585324,-122.1160245,14z"] {
  color: #F8F8FF;
}
.policy {
  font-size: .8rem;
  text-align: left;
}
