.grid-container {
  display: grid;
}
.grid-header {
  display: grid;
  background-color: #03a3df;
  grid-column: 1 / 4;

}
.company-details {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  padding-left: 5rem;
}
.navigation {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  padding-top: 5rem;
  letter-spacing: .25rem;
  color: white;

}
a {
  color: white;
  font-style: bold;
}
.grid-about {
  grid-area: 4 / 1 / 7 / 4;
}
.grid-footer {
  grid-column: 1 / 4;
  grid-row: 8 / 12;
}
