.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  height: 100vh;
  grid-template-areas:
      "header header header header"
      ". photo bio ."
      "footer footer footer footer"
}
header {
  grid-area: header;
  background-color: #03a3df;
  height: 12rem;
  padding-left: 2rem;
}
.navigation {
  text-align: right;
  padding-right: 5rem;
  letter-spacing: .25rem;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
.photo {
  display: flex;
  /*align-items: center;*/
  align-items: flex-end;
  align-content: center;
  flex-direction: column;
  /*justify-content: flex-start;*/
  background-color: rgb(27, 68, 127);
}
.i-photo {
  width: 75%;
}
.bio {
  grid-template-rows: 1rem 1rem 1rem 1rem
  display: grid;
  align-items: flex-start;
  justify-content: center;
  background-color: rgb(27, 68, 127);
  padding-right: 5rem;
}
.bio h1, h2, h3 {
  color: white;
}
.bio h6 {
  color: #ecb722;
  border-bottom: 1px solid #ecb722;
}
footer {
  grid-area: footer;
  border-top: 3px solid #ecb722;
}
.footer-grid {
  display: grid;
  grid-template-rows: 100px;
}
.footer-image {
 width: 100%;
 height: 20rem;

}
.company-details {
  color: white;
  font-weight: bold;
  padding-left: 2rem;
}
a[href="https://www.google.com/maps/@47.7585324,-122.1160245,14z"] {
  color: #444444;
}
.policy {
  font-size: .8rem;
  text-align: left;
}










/*

.instructors {
  grid-area: instructor;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.title {
  text-align: center;
}
footer {
  display-area: footer;
}
footer {
  grid-area: footer;
  text-align: center;
  border-top: 3px solid #ecb722;
}
.footer-image {
width: 100%;
height: 20rem;
}
.company-details {
  color: #ecb722;
  font-weight: bold;
}
a[href="https://www.google.com/maps/@47.7585324,-122.1160245,14z"] {
  color: #444444;
}
.policy {
  font-size: .8rem;
  text-align: left;
}*/
