.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  height: 100vh;
  grid-template-areas:
      "header header"
      "course-schedule course-schedule"
      "footer footer"
}
header {
  grid-area: header;
  background-color: #03a3df;
  height: 12rem;
  padding-left: 2rem;
}
.navigation {
  text-align: right;
  padding-right: 5rem;
  letter-spacing: .25rem;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
.course-schedule {
  grid-column: 1 / 5;
  padding: 1.5rem;
}
.course-schedule h1 {
  text-align: center;
  color: #03a3df;
  letter-spacing: .5rem;
}
th{
  text-align: center;
  background-color: grey;
  color: #ecb722;
  font-size: 1.5rem
}
table, th, td {
  border: 1px solid #444444;
}
.private {
  border: 0px hidden grey;
  background-color: grey;
  font-weight: bold;
  font-size: 1.5rem;
  color: #ecb722;
}
footer {
  grid-area: footer;
  border-top: 3px solid #ecb722;
}
.footer-grid {
  display: grid;
  grid-template-rows: 3rem;
}
.footer-image {
 width: 100%;
}
.company-details {
  padding-left: 2rem;
}
.company-details h3 {
  color: white;
  text-align: center;
}
a[href="https://www.google.com/maps/@47.7585324,-122.1160245,14z"] {
  color: #F8F8FF;
}
.policy {
  font-size: .8rem;
  text-align: left;
}
