body {
  font-family: Arial, sans-serif;
}
.container {
  display: grid;
  grid-gap: 2rem;
  height: 100vh;
}
.header {
  grid-column: 1 / 5;
  background-color: #03a3df;
  height: 12rem;
  padding-left: 2rem;
}
.navigation {
  text-align: right;
  padding-right: 5rem;
  letter-spacing: .25rem;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
.course-schedule {
  grid-column: 1 / 5;
  padding: 1.5rem;
}
.course-schedule h2 {
  text-align: center;
}

th{
  text-align: center;
  background-color: #444444;
  color: #ecb722;
}
table, th, td {
  border: 1px solid #444444;
}
.private {
  border: 0px hidden lightgrey;
  background-color: lightgrey;
  font-weight: bold;
}
.footer {
  grid-column: 1 / 5;
  text-align: center;
  border-top: 3px solid #ecb722;
}
.footer-image {
width: 100%;
height: 20rem;
}
.company-details {
  color: #ecb722;
  font-weight: bold;
}
a[href="https://www.google.com/maps/@47.7585324,-122.1160245,14z"] {
  color: #444444;
}
.policy {
  font-size: .8rem;
  text-align: left;
}
