* {
  box-sizing: border-box;
}
body{
  font-family: Garamond, serif;
  color: gray;
  font-weight: bold;
}
img {
  width: 100%;
}
.header-image {
  height: 8rem;
}

h1 {
  text-align: center;
}
article {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 3rem;
}
section {
  border: solid;
  border-color: dodgerblue;
  background-color: #B0C4DE;
  padding: 1rem;
}
.footer-image {
  height: 8rem;
  bottom: 0;
}
