* {
  box-sizing: border-box;
}
body{
  font-family: Garamond, serif;
  color: gray;
  font-weight: bold;
}

.header-image {
  height: 8rem;
  width: 100%;
}

h1 {
  text-align: center;
}
h2 {
  color: salmon;
}
article {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 3rem;
}
section {
  border: solid;
  border-color: dodgerblue;
  background-color: #B0C4DE;
  padding: 1rem;
}
.footer-image {
  height: 10rem;
  width: 100%;
  position: fixed;
  bottom: 0;
}
ol {
  padding: 1rem;
  text-indent: .5rem;
}
li {
margin-left: 5rem;
}
