<style>
body{
  font-family: Helvetica, sans-serif;
  color: darkgrey;
}
aside{
  width: 20%;
  float:right;
  padding-right: 15%;
  padding-top: 10%;
}
header{
  font-weight: bold;
  font-size: 2rem;
}
a{
  color: #00CED1;
  text-decoration: none;
  display: block;
  padding-bottom: 25px;
}

figure {
  float: right;
  width: 85%;
}

.cat-logo{
  background-color: #303030;
  position: fixed;
  width: 100%;
  height: 250px;
  bottom: 0;
}

</style>
