<style>
body{
  font-family: Helvetica, sans-serif;
  color: darkgrey;
}
aside{
  width: 20%;
  float:right;
  padding-right: 15%;
  padding-top: 10%;
}
header{
  font-weight: bold;
  font-size: 2rem;
}
a{
  color: #00CED1;
  text-decoration: none;
  display: block;
  padding-bottom: 25px;
}

figure {
  float: right;
  width: 85%;
}

.kittie-footer{
  background-color: #303030;
  color: lightgrey;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 50px;
  font-size: 12px;

}
.kittie-footer>section{
  padding-left: 525px;
  padding-right: 525px;
}
.cat-logo{
  width: 20%;
  vertical-align: middle;
  display: inline-block;
}

</style>
