body{
  font-family: 'Syne Mono', monospace;
  font-size: 16px;
}
.header-container {
  display: flex;
  flex-direction: column;
  background-color: #00B4E6;
  color: white;
  height: 22rem;
  text-indent: 10rem;
  justify-content: flex-end;
}
.header-title {
  width: 40%;
  font-family: 'Syne Mono', monospace;
  font-size: 40px;
  height: 1rem;
}
.header-description {
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  padding-bottom: 1rem;
}

/* move skip-to-link off the page*/
.hidden {
  position: relative;
  left: -10000px;
  top: auto;
}

/* make skip-to-link visible when it has focus */
.hidden:focus {
  left: 0;
}
.menu {
  background-color: #00B4E6;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: black;
  font-family: 'Syne Mono', monospace;
  font-size: 18px;
  font-weight: bold;

}
.awesome-font {
  align-self: center;
}
.fa-cat {
  color: #700070;
}
.main-container {
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
}

/* left-pane styles */
.left-pane {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 70%;
  padding-left: 10rem;
  padding-right: 3rem;
}
.left-pane-box {
  align-content: space-between;
}
.article-header {
  color: #00546B;
  font-weight: bold;
  font-size: 20px;
}
.article-snippet {
  color: #00546B;
  font-size: 18px;
}
.story-title {
  font-size: 20px;
}
mark {
    color: #00546B;
    background-color: white;
}
.flex-footer {
  display: flex;
  height: 400px;
  flex-direction: column;
  align-items: center;
  background-color: #303030;
  color: #F5F5F5;
  font-size: 14px;
}
.cat-logo {
  width: 80%;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

/* right-pane styling */
.right-pane {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding-bottom: 2rem;
}
.cat-week {
  font-weight: bold;
}
.cat-news {
  font-weight: 900;
}

/* transitions, pseudo-selectors */

a {
  text-decoration: none;
  color: #00546B;
}
.menu a:visited {
  color: #808080;
}
.left-pane-box::first-letter {
  font-size: 200%;
  color: #4169E1;
}
.awesome-font i:nth-child(even) {
  color: #FFFF00;
}
.story:hover {
  font-size: 30px;
}
.story p:nth-child(2n) {
  transition: font-size 15s ease-out 2s;
}
