* {
  box-sizing: border-box;
}
body{
  font-family: Arial;
}
.content-box {
  float: right;
}
.content-box {
  width: 30%;
  height: 70em;
}
aside {
  padding-top: 1rem;
  padding-right: 5rem;
}
.left-pane {
  float: left;
  padding-left: 10rem;
  width: 70%;
}
header {
  background-color: rgba(0, 130, 165, .8);
  color: white;
  padding-top: 3rem;
}
.header-title {
  font-size: 50px;
  font-weight: bold;
  text-indent: 10rem;
  height: 1rem;
}
.title-description {
  font-size: 30px;
  text-indent: 10rem;
  font-style: italic;
  padding-bottom: 2rem;
}
.menu {
  background-color: lightgrey;
  color: black;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  padding-top: 1.5rem;
  padding-left: 10rem;
  padding-bottom: 1.5rem;
}
.menu-links {
  color: black;
}
article {
  display: contents;
  font-size: 14px;
}
.article-header {
  color: rgba(0, 130, 165, .8);
  font-weight: bold;
}
.article-snippet {
  color: rgba(0, 130, 165, .8);
  font-size: 20px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  line-height: 1.5;
}
mark {
  color: rgba(0, 130, 165, .8);
  background-color: white;
}
a{
  color: rgba(0, 130, 165, .8);
  text-decoration: none;
  padding-bottom: 25px;
}
figure{
display: contents;
}

footer{
  background-color: #303030;
  color: lightgrey;
  text-align: center;
  font-size: 12px;
  clear: both;

}

.cat-logo{
  width: 20%;
  padding-bottom: 20px;
  padding-top: 20px;
  display: inline-block;
}
.kittie-footer>section:nth-child(3){
  letter-spacing: 1px;
  padding-top: 10px;
  padding-bottom: 11px;
}
