* {
  box-sizing: border-box;
}
body{
  font-family: Garamond, serif;
}
aside {
  float: right;
  width: 30%;
  padding-right: 10%;
  padding-top: 10%;
}

header{
  font-weight: bold;
  font-size: 2rem;
}
a{
  color: #00CED1;
  text-decoration: none;
  display: block;
  padding-bottom: 25px;
}
figure{
  width: 85%;
  z-index: -1;
  float: right;
}
.kittie-footer{
  background-color: #303030;
  color: lightgrey;
  text-align: center;
  clear: both;
  font-size: 12px;
  z-index: 1;
}
.kittie-footer>section{
  padding-left: 500px;
  padding-right: 500px;

}
.cat-logo{
  width: 20%;
  padding-bottom: 20px;
  padding-top: 20px;
  display: inline-block;
}
.kittie-footer>section:nth-child(3){
  letter-spacing: 1px;
  padding-top: 10px;
  padding-bottom: 11px;
}
