body{
  font-family: 'Syne Mono', monospace;
  font-size: 16px;
}
.header-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 130, 165, .8);
  color: white;
  height: 22rem;
  text-indent: 10rem;
  justify-content: flex-end;
}
.header-title {
  width: 40%;
  font-family: 'Syne Mono', monospace;
  font-size: 40px;
  height: 1rem;
}
.header-description {
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  padding-bottom: 1rem;
}
.menu {
  background-color: #F5F5F5;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: black;
  font-family: 'Syne Mono', monospace;
  font-size: 16px;
  font-weight: bold;
}

.fa-cat {
  color: purple;
  align-self: center;
}
.main-container {
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
}

/* left-pane styles */
.left-pane {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  padding-left: 10rem;
  padding-right: 3rem;
}
.left-pane-box {
  align-content: space-between;
}
.article-header {
  color: rgba(0, 130, 165, .8);
  font-weight: bold;
  font-size: 20px;
}
.article-snippet {
  color: rgba(0, 130, 165, .8);
  font-size: 18px;
}
.story-title {
  font-size: 20px;
}
mark {
    color: rgba(0, 130, 165, .8);
    background-color: white;
}
.flex-footer {
  display: flex;
  height: 400px;
  flex-direction: column;
  align-items: center;
  background-color: #303030;
  color: #F5F5F5;
  font-size: 14px;
}
.cat-logo {
  width: 80%;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

/* right-pane styling */
.right-pane {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding-bottom: 2rem;
}
.cat-week {
  font-weight: bold;
}
.cat-news {
  font-weight: 900;
}
