* {
  box-sizing: border-box;
}
body{
  font-family: Garamond, serif;
}
.content-box {
  float: right;
}
.content-box {
  width: 30%;
  height: 70em;
}
aside {
  padding-top: 10rem;
  padding-right: 5rem;
}
.left-pane {
  float: left;
  padding-left: 10rem;
}
header {
  background-color: skyblue;
  color: white;
  padding-top: 3rem;
}
.header-title {
  font-size: 40px;
  font-weight: bold;
  text-indent: 10rem;
}
.title-description {
  font-size: 35px;
  text-indent: 10rem;
  font-style: italic;
}
.menu {
  background-color: lightgrey;
  color: black;
  font-weight: bold;
  letter-spacing: 1.5px;
  padding-top: 1rem;
  padding-left: 10rem;
  padding-bottom: 1rem;
}
a{
  color: skyblue;
  text-decoration: none;
  display: block;
  padding-bottom: 25px;
}
figure{
display: contents;
}

footer{
  background-color: #303030;
  color: lightgrey;
  text-align: center;
  font-size: 12px;
  clear: both;

}

.cat-logo{
  width: 20%;
  padding-bottom: 20px;
  padding-top: 20px;
  display: inline-block;
}
.kittie-footer>section:nth-child(3){
  letter-spacing: 1px;
  padding-top: 10px;
  padding-bottom: 11px;
}
