<style>
body{
  font-family: Helvetica, sans-serif;
}
.left-sidebar{
  width: 60%;
  padding-left: 15%;
  margin-left: 20px;
  float: left;
}
.right-sidebar{
  width: 30%;
  float:right;
  padding-right: 15%;
  padding-top: 10%;
  margin-right: 15px;
}
header{
  font-weight: bold;
  font-size: 1rem;
}
a{
  color: #00CED1;
  text-decoration: none;
  display: block;
  padding-bottom: 25px;
}
img{
  width: 85%;
}
</style>
