* {
  box-sizing: border-box;
}
body{
  font-family: Garamond, serif;
}
.content-box {
  float: right;
}
.content-box {
  width: 30%;
  height: 70em;
}
aside {
  padding-top: 10rem;
  padding-right: 5rem;
}

header{
  font-weight: bold;
  font-size: 2rem;
}
a{
  color: #00CED1;
  text-decoration: none;
  display: block;
  padding-bottom: 25px;
}
figure{
display: contents;
}

footer{
  background-color: #303030;
  color: lightgrey;
  text-align: center;
  font-size: 12px;
  clear: both;

}

.cat-logo{
  width: 20%;
  padding-bottom: 20px;
  padding-top: 20px;
  display: inline-block;
}
.kittie-footer>section:nth-child(3){
  letter-spacing: 1px;
  padding-top: 10px;
  padding-bottom: 11px;
}
